:root {
    --darkest: #08151d;
    --dark: #e13030;
    --middle: #e04949;
    --light: #e37878;
    --lightest: #deb9b9;
    --yellow-mid: #e5c324;
    --yellow-light: #fffec8;
    --background-light: #1c303d;
    --text: #fff;
}

body {
    margin: 0;
    height: 100%;
    font-family: "Futura", Verdana, sans-serif;
    overflow-x: hidden;
    position: relative;
    background: var(--background-light);
    color: var(--text);
  }

* {
  box-sizing: border-box;
}

input {
  font-size: 16px;
}
textarea {
  font-size: 16px;
}
header {
  width: 100%;
  height: fit-content;
  background: var(--dark);
  color: #fff;
}

.headerContent {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .headerContent {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
  }
}
.headerLeft {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-weight: bold;
  font-size: 20px;
}
.headerLeft a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.headerRight {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  gap: 0.5rem;
}
.headerRight button {
  background: transparent;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  font-size: 20px;
  font-family: "Futura", Verdana, sans-serif;
}
.headerBtnLilcoinsCount {
  margin-right: 0.25rem;
}
.headerLeftText {
  cursor: default;
  user-select: none;
}

.headerDiscordIconWrapper a {
  display: flex;
  align-items: center;
  height: 34px;
}
.hamburgerMenu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: #fff;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}


.sidebarMenuWrapper {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  width: 340px;
  height: 100%;
  transition: 0.2s ease-in-out;
  background: var(--dark);
  color: #fff;
  padding: 1rem 2rem;
  z-index: 10;
  transform: translateX(100%);
}
.sidebarMenuWrapper.active {
  display: flex;
  transform: translateX(0%);
}
@media screen and (min-width: 420px) {
  .sidebarMenuWrapper {
    width: 400px;
  }
}

.sidebarMenuItems {
  display: flex;
  flex-direction: column;
}
.sidebarMenuItem {
  border: none;
  background: transparent;
  padding: 1rem 1rem;
  color: #fff;
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  font-size: 18px;
  transition: 0.2s;
  cursor: pointer;
}
.sidebarMenuItem:hover {
  font-size: 19px;
}

/* Intro section */
.introSection {
  width: 100%;
  position: relative;
}
.introSectionContentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  height: fit-content;
  position: relative;
  background: #08151d;
  color: #fff;
  padding: 2rem;
}

.introSectionIconTextWrapper {
  position: absolute;
  display: flex;
  align-items: end;
  gap: 0.5rem;
  padding: 2rem;
  color: #fff;
}
.introSectionIconTextWrapper.printsCounter {
  bottom: -5.25rem;
  left: 0;
}
.introSectionIconTextWrapper.treesCounter {
  bottom: -5.25rem;
  right: 0;
}
.introSectionIconTextWrapper.treesCounter a {
  text-decoration: none;
  color: #fff;
  height: 24px;
}
/* desktop */
@media screen and (min-width: 768px) {
  .headerRight {
    gap: 1rem;
  }
  .introSectionIconTextWrapper.printsCounter {
    bottom: 0;
    left: 0;
  }
  .introSectionIconTextWrapper.treesCounter {
    bottom: 0;
    right: 0;
  }
}

/* Main Tabs NAV */
.mainTabsNavSection {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 2rem 2rem 2rem;
  background: #08151d;
}
.tabsWrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}
.tab {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--dark);
  color: #fff;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.tab.lilCoin {
  gap: 0.25rem;
}
.tab.active {
  background: #fff;
  color: #000;
}
.tabsWrapper #livestream-tab {
  display: none;
}
@media screen and (min-width: 500px) {
  .tabsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
  }
  .tabsWrapper #livestream-tab {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .tabsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    width: auto;
  }
}

/* Main Section */
.mainSection {
  padding: 4rem 2rem 2rem 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #1c303d;
  min-height: 400px;
}
@media screen and (min-width: 768px) {
  .mainSection {
    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    background: #1c303d;
    min-height: 400px;
  }
}
.mainSectionContent {
  display: none;
}
.mainSectionContent.active {
  display: flex;
  flex-direction: column;
}
.mainSectionTitle {
  display: flex;
  justify-content: center;
  color: #fff;
  opacity: 0.6;
}
.printCreationFormWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  padding: 1rem;
  background: #fff;
}

.formImgSliderWrapper {
  margin: 1rem 0 0.5rem 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}
.sliderImg {
  display: none;
}
.sliderImg.active {
  display: block;
  width: 168px;
  height: auto;
}
.sliderCustomImgBtn {
  display: none;
}
.sliderCustomImgBtn.active {
  border: none;
  padding: 0;
  position: relative;
  display: block;
  width: 168px;
  height: auto;
  min-height: 168px;
  background: transparent;
  font-family: "Courier New", Courier, "Lucida Console", Consolas, monospace;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
}
.sliderCustomImgBtnTxt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sliderCustomImgBtn.active img {
  display: block;
  width: 168px;
  height: auto;
  object-fit: cover;
  filter: grayscale(100%);
}
/* big phone */
@media screen and (min-width: 448px) {
  .sliderImg.active {
    width: 260px;
    height: auto;
  }
  .sliderCustomImgBtn.active {
    width: 260px;
    height: auto;
    min-height: 260px;
  }
  .sliderCustomImgBtn.active img {
    width: 260px;
    height: auto;
    max-height: 462px;
  }
}

.hiddenImageInput {
  display: none;
}
.formImgSliderArrow {
  background: transparent;
  border: none;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  color: #000;
}
.formImgSliderArrow.left {
  left: 0;
}
.formImgSliderArrow.right {
  right: 0;
}
.printCreationForm {
  display: flex;
  flex-direction: column;
}
.printCreationFormWrapper form input {
  border: none;
  text-align: center;
  margin: 0.25rem 0;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  padding: 0.5rem 0;
  font-family: "Courier New", Courier, "Lucida Console", Consolas, monospace;
}
.printCreationFormWrapper form input::placeholder {
  color: #000;
}
.printCreationFormWrapper form textarea {
  border: none;
  width: 100%;
  text-align: center;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  font-family: "Courier New", Courier, "Lucida Console", Consolas, monospace;
}
.printCreationFormWrapper form textarea::placeholder {
  color: #000;
}
.printCreationFormWrapper form .submitPrintBtn {
  display: none;
}
.printCreationFormWrapper form .submitPrintBtn.active {
  color: #fff;
  background: var(--dark);
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  padding: 0.5rem 1rem;
  margin: 0.5rem 0 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  font-size: 18px;
  transition: 0.2s;
  cursor: pointer;
}
.printCreationFormWrapper form .submittingPrintMessageWrapper {
  display: none;
}
.printCategoryTabsWrapper {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  width: 100%;
  margin: 0.5rem 0;
}
.printCategoryTab {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 10px;
  background: #fff;
  color: #000;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.printCategoryTab.active {
  background: var(--dark);
  color: #fff;
}
/* desktop */
@media screen and (min-width: 768px) {
  .printCreationFormWrapper {
    width: 384px;
  }
  .printCategoryTab {
    padding: 0.5rem 1rem;
  }
}

.printSubmitSuccessMessageWrapper {
  display: none;
}
.printSubmitSuccessMessageWrapper.active {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 0.5rem;
  width: 100%;
  gap: 0.5rem;
  color: #000;
}
.printSubmitSuccessTitle.info {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.printSubmitSuccessTitle {
  font-weight: bold;
}
.printSubmitSuccessText {
  max-width: 224px;
  display: inline;
}
.printSubmitSuccessText.withImg {
  display: flex;
  align-items: center;
}
.reactivateFormBtn {
  display: none;
}
.reactivateFormBtn.active {
  color: #fff;
  background: var(--dark);
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  padding: 0.5rem 1rem;
  margin: 1rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  font-size: 18px;
  transition: 0.2s;
}

/* While submitting new print */
.printCreationFormWrapper form.submitting input {
  box-shadow: none;
}
.printCreationFormWrapper form.submitting textarea {
  box-shadow: none;
}
.flip > .front,
.flip > .back {
  display: block;
  width: inherit;
  background-size: cover !important;
  background-position: center !important;
  border-radius: 10px;
}

.interactionElementActiveOptionDisplay .front {
  display: flex;
  align-items: center;
  justify-content: center;
}

.interactionElementInfoTextWrapper {
  display: none;
}
.interactionElementInfoTextWrapper.active {
  display: flex;
  margin-top: 2rem;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 0.5rem;
}
.interactionElementInfoTextWrapper.withImg {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.interactionElementInfoText {
  display: none;
}
.interactionElementInfoText.active {
  display: block;
}
.interactionElementInfoText.withImg {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}
.printInteractionCustomImgBtn {
  width: 100%;
  min-height: 300px;
  padding: 0;
  margin-bottom: 0.25rem;
  position: relative;
  background: #fff;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Print interaction */
.printInteractionImgField {
  display: none;
}
.printInteractionImgField.active {
  display: block;
  width: 196px;
  height: auto;
}

/*Desktop*/
@media screen and (min-width: 768px) {
  .printInteractionCustomImgBtn {
    margin-bottom: 0.25rem;
    position: relative;
    background: #fff;
    border: none;
    border-radius: 10px;
  }
}
.printInteractionCustomImgBtnTxt {
  display: none;
}
.printInteractionCustomImgBtnTxt.active {
  display: block;
  font-size: 48px;
  font-weight: bolder;
}

.interactionElementInfoTriggerBtn {
  z-index: 10;
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 0.25rem;
  cursor: pointer;
  transition: 1s ease-in-out;
}
.interactionElementInfoTriggerBtn.px:hover {
  top: 0.25rem;
  left: 2rem;
}

.interactionElementInfoBackBtn {
  border: none;
  position: absolute;
  top: 0.5rem;
  left: 0.25rem;
  background: transparent;
  color: #000;
  cursor: pointer;
}
.interactionElementInfoTitle {
  height: 24px;
  position: absolute;
  top: 0.5rem;
  right: 0.75rem;
  color: #424242;
}
.interactionElementInfoText {
  display: none;
}
.interactionElementInfoText.active {
  display: block;
}
.interactionElementInfoText.withImg {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}


textarea {
  resize: none;
}

/* Flip Card */
.flip > .front,
.flip > .back {
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 0.5s;
  transition-property: transform, opacity;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
  color: #000;
}
.flip > .front {
  transform: rotateY(0deg);
  z-index: 1;
  height: 100%;
}
.flip > .back {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  z-index: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
}
.rotate > .front {
  transform: rotateY(180deg);
  z-index: 0;
  opacity: 0;
}
.rotate > .back {
  opacity: 1;
  z-index: 1;
  pointer-events: auto;
  transform: rotateY(0deg);
}

.flip {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  width: 100%;
}
/*Desktop*/
@media screen and (min-width: 768px) {
  .flip {
    position: relative;
    display: inline-block;
    margin-right: 2px;
  }
}
.flip > .front,
.flip > .back {
  display: block;
  width: inherit;
  background-size: cover !important;
  background-position: center !important;
  border-radius: 10px;
}

.interactionElementActiveOptionDisplay .front {
  display: flex;
  align-items: center;
  justify-content: center;
}

.interactionElementInfoTextWrapper {
  display: none;
}
.interactionElementInfoTextWrapper.active {
  display: flex;
  margin-top: 2rem;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 0.5rem;
}
.interactionElementInfoTextWrapper.withImg {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.interactionElementInfoText {
  display: none;
}
.interactionElementInfoText.active {
  display: block;
}
.interactionElementInfoText.withImg {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

/* Print interaction */
.printInteractionFormWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  background: #fff;
}
.printInteractionFormWrapper form {
  width: 100%;
}
/*Desktop*/
/* @media screen and (min-width: 768px) {
  .printInteractionFormWrapper form {
    width: auto;
  }
} */
.printInteractionFormWrapper form input {
  border: none;
  text-align: center;
  margin: 0.25rem 0;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  padding: 0.5rem 0;
  font-family: "Courier New", Courier, "Lucida Console", Consolas, monospace;
  width: 100%;
}
.printInteractionFormWrapper form input::placeholder {
  color: #000;
}
.printInteractionCustomImgBtn {
  width: 100%;
  min-height: 300px;
  padding: 0;
  margin-bottom: 0.25rem;
  position: relative;
  background: #fff;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Print interaction */
.printInteractionImgField {
  display: none;
}
.printInteractionImgField.active {
  display: block;
  width: 196px;
  height: auto;
}

/*Desktop*/
@media screen and (min-width: 768px) {
  .printInteractionCustomImgBtn {
    margin-bottom: 0.25rem;
    position: relative;
    background: #fff;
    border: none;
    border-radius: 10px;
  }
}
.printInteractionCustomImgBtnTxt {
  display: none;
}
.printInteractionCustomImgBtnTxt.active {
  display: block;
  font-size: 48px;
  font-weight: bolder;
}
.printCreationForm {
  margin-top: 0.5rem;
}
.printInteractionFormWrapper form textarea::placeholder {
  color: #000;
}
.printInteractionFormWrapper form .submitPrintBtn {
  display: none;
}
.printInteractionFormWrapper form .submitPrintBtn.active {
  color: #fff;
  background: var(--dark);
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  padding: 0.5rem 1rem;
  margin: 0.5rem 0 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  font-size: 18px;
  transition: 0.2s;
  cursor: pointer;
}
.printInteractionFormWrapper form .submittingPrintMessageWrapper {
  display: none;
}
/* While submitting new print */
.printInteractionFormWrapper form.submitting input {
  box-shadow: none;
}
.printInteractionFormWrapper form.submitting textarea {
  box-shadow: none;
}
/* .printInteractionFormWrapper form.submitting .submitPrintBtn.active {
      display: none;
    } */
.printInteractionFormWrapper form.submitting .submittingPrintMessageWrapper {
  padding: 0.5rem 1rem;
  margin: 1rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #000;
  font-family: "Courier New", Courier, "Lucida Console", Consolas, monospace;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.printAddTxtWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0.5rem 1rem;
  background: transparent;
  border: none;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  gap: 0.25rem;
  cursor: pointer;
  font-weight: 100;
  font-size: 12px;
  color: #000;
}

.printFormTextareaWrapper {
  display: none;
}
.printFormTextareaWrapper.active {
  display: block;
  position: relative;
}

.printTextInput {
  display: block;
  border: none;
  text-align: center;
  margin: 0.25rem 0;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  padding: 0.5rem 0;
  font-family: "Courier New", Courier, "Lucida Console", Consolas, monospace;
}

.interactionElementPricetagWrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  top: 0.25rem;
  right: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  transition: 1s ease-in-out;
}
.interactionElementPricetagWrapper.px:hover {
  right: 2rem;
}
.interactionElementPricetagTxt {
  font-size: 16px;
}
.interactionElementInfoTriggerBtn {
  z-index: 10;
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 0.25rem;
  cursor: pointer;
  transition: 1s ease-in-out;
}
.interactionElementInfoTriggerBtn.px:hover {
  top: 0.25rem;
  left: 2rem;
}
.interactionElementInfoBackBtn {
  border: none;
  position: absolute;
  top: 0.5rem;
  left: 0.25rem;
  background: transparent;
  color: #000;
  cursor: pointer;
}
.interactionElementInfoTitle {
  height: 24px;
  position: absolute;
  top: 0.5rem;
  right: 0.75rem;
  color: #424242;
}
.interactionElementInfoText {
  display: none;
}
.interactionElementInfoText.active {
  display: block;
}
.interactionElementInfoText.withImg {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.textareaPricetagWrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  top: 0.5rem;
  right: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  transition: 1s ease-in-out;
}
.textareaPricetagWrapper.px:hover {
  right: 2rem;
}

/* Lilcoins */
/* LilCoins */
.interactionElementActiveOptionDisplayLilCoins {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}
#lilcoins-active-option-display.free {
  font-size: 20px;
}
.lilCoinsTreesBanner {
  display: none;
  font-size: 20px;
}
.lilCoinsTreesBanner.active {
  display: block;
}
.lilCoinsTreeIcon {
  display: none;
  font-size: 28px;
}
.lilCoinsTreeIcon.active {
  display: block;
}

@media screen and (min-width: 768px) {
  #lilcoins-active-option-display.free {
    font-size: 16px;
  }
  .lilCoinsTreesBanner {
    font-size: 16px;
  }
  .lilCoinsTreeIcon {
    font-size: 24px;
  }
}

.interactionElementErrorMsgWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Lil COINS Section */
.lilCoinsContentWrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  color: #fff;
}
.lilCoinsTitleWrapper {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 16px;
  justify-content: center;
  margin-bottom: 2.5rem;
  opacity: 0.6;
}
/*Desktop*/
@media screen and (min-width: 768px) {
  .lilCoinsContentWrapper {
    padding: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    color: #fff;
  }
}

.lilCoinsUserBalanceWrapper {
  width: 100%;
  display: flex;
  gap: 0.25rem;
  margin-bottom: 1rem;
}
.lilCoinsUserBalanceDisplay {
  margin-left: 0.25rem;
}
.lilCoinsDescriptionWrapper {
  width: 100%;
  max-width: 600px;
  margin-bottom: 1rem;
}
.lilCoinsShopWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lilCoinsShopMsgWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 0.75rem;
}
.lilCoinsOfferWraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding: 2rem;
  color: #000;
  background-color: #fff;
  opacity: 0.9;
  border-radius: 10px;
}
.lilCoinsOfferMain {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 45px 45px;
  width: 100%;
}
.lilCoinsOfferTitle {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.lilCoinsOfferBtn {
  border-radius: 10px;
  margin: 0.25rem 0;
  cursor: pointer;
  height: 80%;
  background: #000;
  color: #fff;
}
.lilCoinsOfferBtn.inactive {
  background: transparent;
  border: 1px solid #000;
  color: #000;
}
.lilCoinsOfferTextWrapper,
.lilCoinsOfferTitle,
.lilCoinsOfferContent {
  padding: 0.5rem 0;
  align-items: center;
}
.lilCoinsOfferTextWrapper {
  display: flex;
  justify-content: start;
  align-items: center;
}
.lilCoinsOfferContent {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
}
.lilCoinsOfferTextWrapper input {
  padding: 0.25rem 0.5rem;
  height: 100%;
  width: 90%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: #fff;
  border: #fff;
}
.lilCoinsOfferTextWrapper input::placeholder {
  color: #fff;
}
.lilCoinsOfferExplanation {
  margin-top: 2rem;
  font-size: 14px;
  color: #000;
  opacity: 0.8;
}
.lilCoinsShopSectionTitle {
  margin-bottom: 1rem;
}
/*Desktop*/
@media screen and (min-width: 768px) {
  .lilCoinsOfferMain {
    display: grid;
    grid-template-columns: 2fr 1fr 3fr 1fr;
    grid-template-rows: 45px;
    row-gap: 0.5rem;
    align-items: center;
  }
  .lilCoinsOfferContent {
    justify-content: start;
  }
  .lilCoinsOfferTextWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.lilCoinsEmailVerificationWrapper {
  display: flex;
  gap: 0.5rem;
}
.lilCoinsEmailUnverifiedWrapper {
  display: flex;
  gap: 0.5rem;
  margin-right: 1rem;
}
.lilCoinsOfferEmailEditBtn {
  background: transparent;
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
}
.lilCoinsOfferEmailEditBtn i {
  font-size: 16px;
}
.lilcoinsSocialWrapper {
  display: flex;
  align-items: center;
}
.loader {
  display: flex;
  justify-content: center;
  width: 100%;
}
.loginForm,
.createAccountForm {
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.modalUserStateWrapper {
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 4.5rem;
  justify-content: center;
  align-items: start;
}
.modalPopup {
  z-index: 50;
  display: flex;
  flex-direction: column;
  width: 95%;
  height: auto;
  background: #fff;
  border-radius: 1rem;
  padding: 2rem 2rem 2rem 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
/*Desktop*/
@media screen and (min-width: 768px) {
  .modalUserStateWrapper {
    margin-top: 0;
    align-items: center;
  }
  .modalPopup {
    width: 50%;
  }
}
.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
.modalCloseBtn {
  width: fit-content;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalTitle {
  font-size: 20px;
  font-weight: bold;
}
.userModalTitle {
  font-size: 24px;
}
/* login & register - Form */
.modalUserStateWrapper form {
  display: flex;
  flex-direction: column;
}

.formStepTwoBtnsWrapper {
  display: flex;
  column-gap: 1rem;
  width: 100%;
}

.modalUserStateWrapper input,
textarea {
  width: 100%;
  padding: 5px;
  margin-top: 0.25rem;
  margin-bottom: 0.4rem;
  border-radius: 0;
  border: 1px solid #000;
}

.modalFormBtnSubmit {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border: 1px solid #000;
  transition: 0.2s;
  cursor: pointer;
}

.modalFormBtnSubmit.loginFormBtnSubmit:hover {
  background-color: #fff;
}
.signUpErrorDisplay {
  display: flex;
  align-items: center;
  color: #000;
}

.modalFormBtnSubmit.submitSignUpBtn:hover {
  background-color: #f6cbcb;
  cursor: default;
}
.modalFormBtnSubmit.submitSignUpBtn.active:hover {
  background-color: #fff;
}

.checkboxesWrapper {
  margin: 0.5rem 0 0.8rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.checkboxWrapperLabel {
  font-weight: lighter;
  display: flex;
  gap: 0.5rem;
  align-items: start;
}
.checkboxWrapperLabel a {
  text-decoration: none;
  color: #000;
}
.checkboxWrapperLabel input {
  width: fit-content;
  margin: 0.3rem 0 0 0;
}
/*Desktop*/
@media screen and (min-width: 768px) {
  .checkboxWrapperLabel {
    align-items: center;
  }
  .checkboxWrapperLabel input {
    margin: 0;
  }
}

.usernameInputWrapper {
  position: relative;
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 12px;
}
.usernameInputWrapper input {
  margin: 0;
}
.usernameInputWrapper i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.forgotPasswordWrapper {
  display: flex;
  justify-content: left;
  gap: 0.4rem;
  margin-bottom: 0.4rem;
}
.forgotPasswordBtn {
  border: none;
  width: fit-content;
  background: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* account modal */
.modalAccount {
  min-height: 220px;
  max-height: 500px;
  overflow-y: auto;
  color: #000;
}
/*Desktop*/
@media screen and (min-width: 768px) {
  .modalAccount {
    max-height: 400px;
  }
}
.modalAccountHeaderRight {
  display: flex;
  gap: 1rem;
}
.modalAccountLogoutBtn {
  background: transparent;
  border: none;
}
.modalAccountInfoEditWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0 0 1rem 0;
}
.modalAccountInfoWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}
.modalAccountInfo {
  display: flex;
  gap: 1rem;
  font-size: 24px;
}
.modalAccountInfo.lilCoins {
  align-items: center;
  gap: 0.5rem;
}
.modalAccountUsernameWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.modalAccountInfo.username {
  display: none;
}
.modalAccountInfo.username.active {
  display: block;
  font-size: 32px;
}
.editUsernameBtn {
  display: none;
}
.editUsernameBtn.active {
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.modalAccountUsernameEditInput {
  display: none;
}
.modalAccountUsernameEditInput.active {
  display: flex;
  gap: 0.5rem;
}
.editUsernameBtnsWrapper {
  margin-bottom: 12px;
  margin-top: 4px;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.editUsernameBtnsWrapper button {
  height: 100%;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.userExtraDataIntro {
  display: flex;
  gap: 0.5rem;
}
.modalExtraDataExpandBtn {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.emailUnverifiedWrapper {
  display: flex;
}
.emailVerifiedWrapper {
  display: flex;
  align-items: end;
}
.modalAccountInfoEditBtn {
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
}
.modalAccountInfoVerifyBtn {
  border: none;
  background: transparent;
  cursor: pointer;
}
.modalAccountLogoutBtn {
  cursor: pointer;
  font-size: 16px;
}

.mainSection {
  padding: 4rem 2rem 2rem 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #1c303d;
  min-height: 400px;
}
@media screen and (min-width: 768px) {
  .mainSection {
    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    background: #1c303d;
    min-height: 400px;
  }
}
.mainSectionContent {
  display: none;
}
.mainSectionContent.active {
  display: flex;
  flex-direction: column;
}
.mainSectionTitle {
  display: flex;
  justify-content: center;
  color: #fff;
  opacity: 0.6;
}
.printCreationFormWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  padding: 1rem;
  background: #fff;
}

.formImgSliderWrapper {
  margin: 1rem 0 0.5rem 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}
.sliderImg {
  display: none;
}
.sliderImg.active {
  display: block;
  width: 168px;
  height: auto;
}
.sliderCustomImgBtn {
  display: none;
}
.sliderCustomImgBtn.active {
  border: none;
  padding: 0;
  position: relative;
  display: block;
  width: 168px;
  height: auto;
  min-height: 168px;
  background: transparent;
  font-family: "Courier New", Courier, "Lucida Console", Consolas, monospace;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
}
.sliderCustomImgBtnTxt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sliderCustomImgBtn.active img {
  display: block;
  width: 168px;
  height: auto;
  object-fit: cover;
  filter: grayscale(100%);
}
/* big phone */
@media screen and (min-width: 448px) {
  .sliderImg.active {
    width: 260px;
    height: auto;
  }
  .sliderCustomImgBtn.active {
    width: 260px;
    height: auto;
    min-height: 260px;
  }
  .sliderCustomImgBtn.active img {
    width: 260px;
    height: auto;
    max-height: 462px;
  }
}

.hiddenImageInput {
  display: none;
}
.formImgSliderArrow {
  background: transparent;
  border: none;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  color: #000;
}
.formImgSliderArrow.left {
  left: 0;
}
.formImgSliderArrow.right {
  right: 0;
}
.printCreationForm {
  display: flex;
  flex-direction: column;
}
.printCreationFormWrapper form input {
  border: none;
  text-align: center;
  margin: 0.25rem 0;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  padding: 0.5rem 0;
  font-family: "Courier New", Courier, "Lucida Console", Consolas, monospace;
}
.printCreationFormWrapper form input::placeholder {
  color: #000;
}
.printCreationFormWrapper form textarea {
  border: none;
  text-align: center;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  font-family: "Courier New", Courier, "Lucida Console", Consolas, monospace;
}
.printCreationFormWrapper form textarea::placeholder {
  color: #000;
}
.printCreationFormWrapper form .submitPrintBtn {
  display: none;
}
.printCreationFormWrapper form .submitPrintBtn.active {
  color: #fff;
  background: var(--dark);
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  padding: 0.5rem 1rem;
  margin: 0.5rem 0 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  font-size: 18px;
  transition: 0.2s;
  cursor: pointer;
}
.printCreationFormWrapper form .submittingPrintMessageWrapper {
  display: none;
}
.printCategoryTabsWrapper {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  width: 100%;
  margin: 0.5rem 0;
}
.printCategoryTab {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 10px;
  background: #fff;
  color: #000;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.printCategoryTab.active {
  background: var(--dark);
  color: #fff;
}
/* desktop */
@media screen and (min-width: 768px) {
  .printCreationFormWrapper {
    width: 384px;
  }
  .printCategoryTab {
    padding: 0.5rem 1rem;
  }
}

.printSubmitSuccessMessageWrapper {
  display: none;
}
.printSubmitSuccessMessageWrapper.active {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 0.5rem;
  width: 100%;
  gap: 0.5rem;
  color: #000;
}
.printSubmitSuccessTitle.info {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.printSubmitSuccessTitle {
  font-weight: bold;
}
.printSubmitSuccessText {
  max-width: 224px;
  display: inline;
}
.printSubmitSuccessText.withImg {
  display: flex;
  align-items: center;
}
.reactivateFormBtn {
  display: none;
}
.reactivateFormBtn.active {
  color: #fff;
  background: var(--dark);
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  padding: 0.5rem 1rem;
  margin: 1rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  font-size: 18px;
  transition: 0.2s;
}

/* While submitting new print */
.printCreationFormWrapper form.submitting input {
  box-shadow: none;
}
.printCreationFormWrapper form.submitting textarea {
  box-shadow: none;
}
/* .printCreationFormWrapper form.submitting .submitPrintBtn.active {
  display: none;
} */

.timelinePrintjobWrapper {
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Courier New", Courier, "Lucida Console", Consolas, monospace;
}
.timelinePrintjobWrapper.lil {
  margin: 1rem 0 1rem 0;
  padding: 0 1rem 0 1rem;
}
.printsTimelineItems {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 864px) {
  .printsTimelineItems {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1296px) {
  .printsTimelineItems {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1296px) {
  .printsTimelineItems {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1728px) {
  .printsTimelineItems {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.timelinePrintjobContent {
  padding: 2rem 0;
  background: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timelinePrintjobImg {
  width: 320px;
  height: auto;
  max-height: 400px;
}
.printDecoSvg {
  width: 288px;
  height: 12px;
}
/* big phone */
@media screen and (min-width: 448px) {
  .printDecoSvg {
    width: 384px;
    height: 12px;
  }
  .timelinePrintjobContent {
    padding: 2rem 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* desktop */
@media screen and (min-width: 768px) {
  .timelinePrintjobContent {
    padding: 2rem 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
  }
  .timelinePrintjobImg {
    width: 320px;
    height: auto;
  }
}

.timelinePrintjobTitle {
  margin: 2rem 0 1rem 0;
  padding: 0 1rem;
  text-align: center;
  font-size: 24px;
}
.timelinePrintjobText {
  padding: 0 1rem;
  width: 100%;
  word-wrap: break-word; /* Older browsers support */
  overflow-wrap: break-word; /* Standard syntax */
  text-align: center;
}
.timelinePrintjobName {
  margin: 1rem 0 2rem 0;
}
.timelinePrintjobNr {
  margin-bottom: 0.5rem;
}
.timelinePrintjobFooterWrapper {
  margin-top: 0.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  color: #000;
  background: #fff;
  margin-top: 0.5rem;
  padding: 1rem;

  font-size: 30px;
  line-height: 28px;
}
/* big phone */
@media screen and (min-width: 448px) {
  .timelinePrintjobFooterWrapper {
    margin-top: 0.5rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    color: #000;
    background: #fff;
    margin-top: 0.5rem;
    padding: 1rem;

    font-size: 30px;
    line-height: 28px;
  }
}
.timelinePrintjobFooterRight {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 0.25rem;
  width: 100%;
}
.timelinePrintjobFooterCenter {
  font-size: 24px;
  line-height: 22px;
  display: flex;
  align-items: end;
  justify-content: center;
  width: 100%;
}
.timelinePrintjobFooterLeft {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}
.timelinePrintjobFooterUpvoteBtn {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  padding: 0;
}
.timelinePrintjobFooterUpvoteBtn img {
  width: 40px;
  height: 40px;
}
.printsTimelineMoreBtn {
  text-align: center;
  margin-bottom: 2rem;
  color: #fff;
  cursor: pointer;
}
.printsTimelineMoreBtn:hover {
  color: #dbdbdb;
}
.timelineUncheckedPrintjob {
  width: 100%;
  background: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 1rem;
  padding: 2rem;
}

.timelineUncheckedPrintjobText {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.printsManagementMenuWrapper {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: 1rem 0;
}
.printsTab {
  color: #fff;
  opacity: 0.6;
  cursor: pointer;
}
.printsTab.active {
  opacity: 1;
}
.printsSortMenuWrapper {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 0.5rem;
  justify-items: center;
  padding: 0 2rem;
}
.printsSortTab {
  color: #fff;
  opacity: 0.6;
  cursor: pointer;
}
.printsSortTab.active {
  opacity: 1;
}
.printsManagementWrapper {
  display: none;
}
.printsManagementWrapper.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.printsManagementWrapper.active .errorTxt {
  margin-top: 1rem;
  color: #fff;
}
.printsSearchWrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.printsSearchWrapper input {
  width: 5rem;
  text-align: center;
}

.printTimelineReviewCount {
  text-align: center;
  width: 100%;
  color: #fff;
  margin-top: 1rem;
}

/* Lil COINS Section */
.lilCoinsContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  color: #fff;
}
.lilCoinsTitleWrapper {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 16px;
  justify-content: center;
  margin-bottom: 2.5rem;
  opacity: 0.6;
}
/*Desktop*/
@media screen and (min-width: 768px) {
  .lilCoinsContentWrapper {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    color: #fff;
  }
}

.lilCoinsUserBalanceWrapper {
  width: 100%;
  display: flex;
  gap: 0.25rem;
  margin-bottom: 1rem;
}
.lilCoinsUserBalanceDisplay {
  margin-left: 0.25rem;
}
.lilCoinsDescriptionWrapper {
  width: 100%;
  max-width: 600px;
  margin-bottom: 1rem;
}
.lilCoinsShopWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lilCoinsOfferWraper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 45px 45px;
  width: 100%;
  margin-bottom: 1rem;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.2);
}
.lilCoinsOfferTitle {
  display: flex;
}
.lilCoinsOfferBtn {
  border-radius: 10px;
  margin: 0.25rem 0;
  cursor: pointer;
}
.lilCoinsOfferBtn.inactive {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}
.lilCoinsOfferTextWrapper,
.lilCoinsOfferTitle,
.lilCoinsOfferContent {
  padding: 0.5rem 0;
  align-items: center;
}
.lilCoinsOfferContent {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
}
/*Desktop*/
@media screen and (min-width: 768px) {
  .lilCoinsOfferWraper {
    display: grid;
    grid-template-columns: 2fr 1fr 3fr 1fr;
    grid-template-rows: 45px;
    row-gap: 0.5rem;
  }
  .lilCoinsOfferContent {
    justify-content: start;
  }
}
.lilCoinsEmailVerificationWrapper {
  display: flex;
  gap: 0.5rem;
}
.lilCoinsEmailUnverifiedWrapper {
  display: flex;
  gap: 0.5rem;
  margin-right: 1rem;
}
.lilCoinsOfferEmailEditBtn {
  background: transparent;
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
}
.lilCoinsOfferEmailEditBtn i {
  font-size: 16px;
}
.lilcoinsSocialWrapper {
  display: flex;
  align-items: center;
}

.separationLine {
  border-bottom: 2px solid #fff;
  margin: 1rem 0;
}
.lilCoinsRankingWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.lilCoinsRankingItems {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: 100%;
}
.lilcoinsRankingItem {
  margin: 0.25rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Ranking Section */
.rankingContentWrapper {
  margin-top: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  min-width: 300px;
}
.rankingNavWrapper {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}
.rankingTab {
  opacity: 0.6;
  cursor: pointer;
}
.rankingTab.active {
  opacity: 1;
}
.rankingContent {
  display: none;
}
.rankingContent.active {
  display: flex;
  flex-direction: column;
}
.topTenRankingItem {
  margin: 0.25rem 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
}

/* Footer */
footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--dark);
  color: #fff;
}
.footerContentWrapper {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
}
.footerMenu {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  row-gap: 0.5rem;
}
.footerSocialsIconsWrapper {
  height: 52px;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.footerSocialsIconsWrapper img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
/*Desktop*/
@media screen and (min-width: 768px) {
  .footerMenu {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
  }
}
.footerMenuItem a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
  font-size: 16px;
}
.footerMenuItem a:hover {
  color: #dddddd;
}
.errorTxt {
  color: #000;
  text-align: center;
}
.hidden {
  display: none;
}
.grecaptcha-badge {
  visibility: hidden;
}
